@model AssetManagerMvc.Models.UserAccount
@using AssetManagerMvc.Models

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserPrincipalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserPrincipalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Department.LdapName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.LdapName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Headset)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Headset)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Speakers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Speakers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keyboard)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keyboard)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WirelessMouse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WirelessMouse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsbStick)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsbStick)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaptopBag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaptopBag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LaptopStand)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaptopStand)
        </dd>
        @if (Model.UsePeriods.Count > 0)
        {
            <dt style="position: relative; top: 8px;">
                @Html.DisplayNameFor(model => model.UsePeriods)
            </dt>
            <dd>
                <table class="table alternating">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Asset.CompoundId)</th>
                        <th>@Html.DisplayNameFor(model => model.UsePeriods.First().StartDate)</th>
                        <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Status)</th>
                        <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Asset.ModelName)</th>
                        <th>Extra</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model.UsePeriods
            .Where(u => u.EndDate == null || u.EndDate >= DateTime.Now)
            .OrderBy(u => u.AssetId))
            
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(item.Asset.CompoundId, "Details",
                                    item.Asset.GetType().BaseType.Name + "s", new { id = item.AssetId }, null)
                            </td>
                            <td>
                                @*<a href="@Url.Action("Details", "UsePeriods", new { id = item.UsePeriodId })">@Html.DisplayFor(modelItem => item.StartDate)</a>*@
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            @Html.DisplayFor(modelItem => item.Status, "UseperiodStatusTableCell")
                            <td>
                                @Html.DisplayFor(modelItem => item.Asset.ModelName)
                            </td>
                            <td>
                                @if (item.Asset is Computer)
                                { @Html.DisplayFor(modelItem => ((Computer)item.Asset).ComputerType)}
                                else if (item.Asset is Telephone)
                                { @Html.DisplayFor(modelItem => ((Telephone)item.Asset).TelephoneType)}
                            </td>
                            <td>
                                @Html.ActionLink("Details", "Details", "Useperiods", new { id = item.UsePeriodId }, null)
                            </td>
                        </tr>
                    }
                </table>
            </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserAccountId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
