@model AssetManagerMvc.Models.UsePeriod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UsePeriod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserAccount.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserAccount.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Function)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Function)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UsePeriodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
