@model AssetManagerMvc.Models.Asset

@if (Model.UsePeriods.Count > 0)
{
    <dt style="position: relative; top: 8px;">
        @Html.DisplayNameFor(model => model.UsePeriods)
    </dt>
    <dd>
        <table class="table alternating">
            <tr>
                <th>@Html.DisplayNameFor(model => model.UsePeriods.First().StartDate)</th>
                <th>@Html.DisplayNameFor(model => model.UsePeriods.First().EndDate)</th>
                <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Status)</th>
                <th>@Html.DisplayNameFor(model => model.UsePeriods.First().UserAccount.Name)</th>
                <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Function)</th>
                <th></th>
            </tr>
            @{var usePeriods = Model.UsePeriods.ToList();}
            @{usePeriods.Sort();}
            @foreach (var item in usePeriods)
            {
                <tr>
                    <td>
                        @*<a href="@Url.Action("Details", "UsePeriods", new { id = item.UsePeriodId })">@Html.DisplayFor(modelItem => item.StartDate)</a>*@
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    @Html.DisplayFor(modelItem => item.Status, "UseperiodStatusTableCell")
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAccount.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Function)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "Details", "Useperiods", new { id = item.UsePeriodId }, null)

                        @if (item.EndDate == null)
                        {
                            @:|
                            @Html.ActionLink("New", "Create", "Useperiods", new
                       {
                           oldUsePeriodId = item.UsePeriodId,
                           category = ViewContext.RouteData.Values["controller"]
                       }, new
                       {
                           title =
                                  "Sets the end date of this UsePeriod to today, and links you to the UsePeriods/Create page with this asset already selected."
                       })
                        }
                    </td>
                </tr>
            }
        </table>
    </dd>
                }
