@model IEnumerable<AssetManagerMvc.Models.TelephoneListItem>

@{
    ViewBag.Title = "Telephone List";
}

<h2>Telephone List</h2>

@using (Html.BeginForm("Index", "TelephoneList", FormMethod.Get))
{
    <p>
        Filter: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}

@Html.ActionLink("Print", "Print")

<table class="table alternating">
    <tr>
        <th>
            Name
        </th>
        <th>
            NumberIntern
        </th>
        <th>
            Number
        </th>
        <th>
            Department
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.NumberIntern</td>
            <td>@item.Number</td>
            <td>@item.Department</td>
        </tr>
    }
</table>
