@model AssetManagerMvc.Models.LogItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LogItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.AssetId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.AssetId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Model.DateCreated.ToString("g")            
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
