@model AssetManagerMvc.Models.Printer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Printer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompoundId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundId)
            @Html.ActionLink("Print", "Print", new { compoundId = Model.CompoundId })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TonerModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TonerModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DrumModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DrumModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IpAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>
        @Html.Partial("_UsePeriodsOverview")
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
