@model IEnumerable<AssetManagerMvc.Models.Printer>

@{
    ViewBag.Title = "Printers";
}

<h2>Printers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Printers", FormMethod.Get))
{
    <p>
        Filter: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" />
    </p>
}
<table class="table alternating">
    <tr>
        <th>
            @Html.ActionLink("CompoundId", "Index", new { sortOrder = ViewBag.CompoundIdSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Printer Name", "Index", new { sortOrder = ViewBag.PrinterNameSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Serial Number", "Index", new { sortOrder = ViewBag.SerialNumberSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Manufacturer", "Index", new { sortOrder = ViewBag.ManufacturerSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Model Name", "Index", new { sortOrder = ViewBag.ModelNameSortParm, searchString = ViewBag.CurrentFilter })
        </th>

        <th>
            @Html.ActionLink("Purchase Date", "Index", new { sortOrder = ViewBag.PurchaseDateSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Location", "Index", new { sortOrder = ViewBag.LocationSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Ip Address", "Index", new { sortOrder = ViewBag.IpAddressSortParm, searchString = ViewBag.CurrentFilter })
        </th>
        <th><div style="min-width: 140px;"></div></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.ActionLink(item.CompoundId, "Index", "UsePeriods", new { assetId = item.AssetId, current = false, hideUitGebruik = false }, null)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PrinterName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SerialNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Manufacturer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ModelName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PurchaseDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Location)
    </td>
    <td>        
        @Html.DisplayFor(modelItem => item.IpAddress)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.AssetId }) |
        @Html.ActionLink("Details", "Details", new { id = item.AssetId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AssetId })
    </td>
</tr>
}

</table>
