@model AssetManagerMvc.Models.Computer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Computer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompoundId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundId)
            @Html.ActionLink("Print", "Print", new { id = Model.AssetId })
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerialNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ComputerType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ComputerType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OfficeVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OfficeVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Browser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Browser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AntiVirus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AntiVirus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsTeamViewerInstalled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsTeamViewerInstalled)
        </dd>
        @if (Model.UsePeriods.Count > 0)
        {
        <dt style="position: relative; top: 8px;">
            @Html.DisplayNameFor(model => model.UsePeriods)
        </dt>
        <dd>
            <table class="table alternating">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.UsePeriods.First().StartDate)</th>
                    <th>@Html.DisplayNameFor(model => model.UsePeriods.First().EndDate)</th>
                    <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Status)</th>
                    <th>@Html.DisplayNameFor(model => model.UsePeriods.First().UserAccount.Name)</th>
                    <th>@Html.DisplayNameFor(model => model.UsePeriods.First().Function)</th>
                </tr>
                @foreach (var item in Model.UsePeriods.OrderBy(up => up.StartDate))
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EndDate)
                        </td>
                        @Html.DisplayFor(modelItem => item.Status, "UseperiodStatusTableCell")
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAccount.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Function)
                        </td>
                    </tr>
                }
            </table>
        </dd>
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssetId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
